In [ ]:
##! pip install folium

In [ ]:
##! pip install pyshp

In [1]:
import folium
from folium import plugins
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import HTML, display
import shapefile
import sys
%matplotlib inline

# Executive Summary

# Technical Analysis

## Hypothesis: 
1) There is a relationship between number of red light camera violations and the income of the neighborhood (higher number of violations in lower income neighborhoods)

2) There is a relationship between number of red light camera violations and the time of year

## Null Hypothesis:
1) There is no relationship between number of red light camera violations and the income of the neighborhood.

2) There is no relationship between number of red light camera violations and the time of year

## Data Dictionary

## Potential Issues/Risks

Certain intersections experience more traffic/cars than others, likely skewing the total number of violations in their favor. Without having the total number of cars passing through for reference it would be difficult to normalize the data across all intersections containing a red light camera.

## Success 

Assuming hypothesis 1 is correct, then intersections in lower income neighborhoods would have a higher correlation to red light camera violations than higher income neighborhoods.

In [179]:
##import red light camera data 
df_raw = pd.read_csv("C:/Users/ilybangi/Desktop/Python/Final/Data/2015 RLC.csv")

In [180]:
##import hhi data
df_raw_hhi = pd.read_csv("c:/Users/ilybangi/Desktop/Python/Final/Data/2015 HHI by tract.csv")

In [40]:
##drop null values and rename data frame
df = df_raw.dropna() 
df.head()

,INTERSECTION,CAMERA ID,ADDRESS,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION
0,CICERO AND I55,2251.0,4200 S CICERO AVENUE,11/29/2015,108,1145023.743,1876358.277,41.816729,-87.743537,"(41.81672938674739, -87.74353671247594)"
1,CICERO AND I55,2251.0,4200 S CICERO AVENUE,11/28/2015,100,1145023.743,1876358.277,41.816729,-87.743537,"(41.81672938674739, -87.74353671247594)"
2,CICERO AND I55,2251.0,4200 S CICERO AVENUE,12/1/2015,86,1145023.743,1876358.277,41.816729,-87.743537,"(41.81672938674739, -87.74353671247594)"
3,LAKE SHORE DR AND BELMONT,1413.0,400 W BELMONT AVE,4/18/2015,82,1172981.745,1921577.376,41.940241,-87.639639,"(41.94024119325571, -87.63963911427594)"
4,LAKE SHORE DR AND BELMONT,1413.0,400 W BELMONT AVE,7/11/2015,81,1172981.745,1921577.376,41.940241,-87.639639,"(41.94024119325571, -87.63963911427594)"

In [41]:
##drop null values and rename data frame
df_hhi = df_raw_hhi.dropna()
df_hhi.head()

   YEAR              GEO_NAME          GEO INCOME   LATITUDE  LONGITUDE
0  2015   Census Tract 307.02  17031030702  48870  41.980656 -87.655104
1  2015   Census Tract 307.03  17031030703  46174  41.980051 -87.655088
2  2015  Census Tract 1606.01  17031160601  57228  41.957580 -87.702021
3  2015  Census Tract 2105.01  17031210501  41829  41.938071 -87.727155
4  2015  Census Tract 2209.02  17031220902  47627  41.920843 -87.724822

## Random Forest Decision Tree 
Create the model based on the HHI by Census tract data set, which will be used to predict the income based on lat and long of the Red Light Camera data set.

In [42]:
# Load scikit's random forest classifier library    regressor 
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor

# Load pandas
import pandas as pd

# Load numpy
import numpy as np

In [43]:
df_hhi.columns.values

array(['YEAR', 'GEO_NAME', 'GEO', 'INCOME', 'LATITUDE', 'LONGITUDE'], dtype=object)

In [44]:
df_hhi.head()

   YEAR              GEO_NAME          GEO INCOME   LATITUDE  LONGITUDE
0  2015   Census Tract 307.02  17031030702  48870  41.980656 -87.655104
1  2015   Census Tract 307.03  17031030703  46174  41.980051 -87.655088
2  2015  Census Tract 1606.01  17031160601  57228  41.957580 -87.702021
3  2015  Census Tract 2105.01  17031210501  41829  41.938071 -87.727155
4  2015  Census Tract 2209.02  17031220902  47627  41.920843 -87.724822

In [88]:
df_hhi2 = pd.DataFrame(df_hhi, columns=df_hhi.columns.values)
df_hhi2['is_train'] = np.random.uniform(0, 1, len(df_hhi)) <= .75
df_hhi2['PRED_INCOME']= df_hhi2['INCOME']

In [89]:
##copy of the HHI by Tract data set inclusive of training column and predicted income column
df_hhi2.head()

,YEAR,GEO_NAME,GEO,INCOME,LATITUDE,LONGITUDE,is_train,PRED_INCOME
0,2015,Census Tract 307.02,17031030702,48870,41.980656,-87.655104,True,48870
1,2015,Census Tract 307.03,17031030703,46174,41.980051,-87.655088,True,46174
2,2015,Census Tract 1606.01,17031160601,57228,41.957580,-87.702021,True,57228
3,2015,Census Tract 2105.01,17031210501,41829,41.938071,-87.727155,True,41829
4,2015,Census Tract 2209.02,17031220902,47627,41.920843,-87.724822,True,47627

In [90]:
df_hhi2['INCOME'].value_counts().head()

None     4
26250    4
29375    3
36250    2
31875    2
Name: INCOME, dtype: int64

In [91]:
df = pd.DataFrame(df, columns=df.columns.values)
df['is_train'] = np.random.uniform(1, 1, len(df)) <= .75
df.head()

,INTERSECTION,CAMERA ID,ADDRESS,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION,is_train,PREDICTED_INCOME
0,CICERO AND I55,2251.0,4200 S CICERO AVENUE,11/29/2015,108,1145023.743,1876358.277,41.816729,-87.743537,"(41.81672938674739, -87.74353671247594)",False,37508.244605
1,CICERO AND I55,2251.0,4200 S CICERO AVENUE,11/28/2015,100,1145023.743,1876358.277,41.816729,-87.743537,"(41.81672938674739, -87.74353671247594)",False,37508.244605
2,CICERO AND I55,2251.0,4200 S CICERO AVENUE,12/1/2015,86,1145023.743,1876358.277,41.816729,-87.743537,"(41.81672938674739, -87.74353671247594)",False,37508.244605
3,LAKE SHORE DR AND BELMONT,1413.0,400 W BELMONT AVE,4/18/2015,82,1172981.745,1921577.376,41.940241,-87.639639,"(41.94024119325571, -87.63963911427594)",False,76760.764148
4,LAKE SHORE DR AND BELMONT,1413.0,400 W BELMONT AVE,7/11/2015,81,1172981.745,1921577.376,41.940241,-87.639639,"(41.94024119325571, -87.63963911427594)",False,76760.764148

In [92]:
df['is_train'].value_counts().head()

False    90259
Name: is_train, dtype: int64

In [93]:
##removing the 'None' values in income from HHI data set and make it a copy
clean_hhi2 = df_hhi2[df_hhi2['INCOME']!='None'].copy()

In [94]:
## convert income column to integer 
clean_hhi2['INT_INCOME'] = clean_hhi2['INCOME'].apply(int)

In [95]:
clean_hhi2.dtypes

YEAR             int64
GEO_NAME        object
GEO              int64
INCOME          object
LATITUDE       float64
LONGITUDE      float64
is_train          bool
PRED_INCOME     object
INT_INCOME       int64
dtype: object

In [96]:
df.dtypes

INTERSECTION         object
CAMERA ID           float64
ADDRESS              object
VIOLATION DATE       object
VIOLATIONS            int64
X COORDINATE        float64
Y COORDINATE        float64
LATITUDE            float64
LONGITUDE           float64
LOCATION             object
is_train               bool
PREDICTED_INCOME    float64
dtype: object

In [97]:
train, test = clean_hhi2[clean_hhi2['is_train']==True], clean_hhi2[clean_hhi2['is_train']==False]

In [98]:
train2, test2 = df[df['is_train']==True], df[df['is_train']==False]

In [99]:
print('Number of observations in the training data:', len(train))
print('Number of observations in the test data:', len(test))

Number of observations in the training data: 606
Number of observations in the test data: 191

In [100]:
print('Number of observations in the training data:', len(train2))
print('Number of observations in the test data:', len(test2))

Number of observations in the training data: 0
Number of observations in the test data: 90259

In [101]:
##creating features for HHI data
features = df_hhi2.columns[4:6]
features

Index(['LATITUDE', 'LONGITUDE'], dtype='object')

In [102]:
##creating features for RLC data
features2 = df.columns[7:9]
features2

Index(['LATITUDE', 'LONGITUDE'], dtype='object')

In [103]:
##create test/train for HHI data
y_train = train['INT_INCOME']
x_train = train[features]

y_test = test['INT_INCOME']
x_test = test[features]

In [104]:
##create test for RLC data
y2_train = train['INT_INCOME']
x2_train = train[features]

y2_test = test['INT_INCOME']
x2_test = test2[features2]

In [105]:
##check to make sure variables are in correct format
x_train.dtypes

LATITUDE     float64
LONGITUDE    float64
dtype: object

In [106]:
##check to make sure variables are in correct format
x_test.dtypes

LATITUDE     float64
LONGITUDE    float64
dtype: object

In [107]:
##check to make sure variables are in correct format
y_train.dtypes

dtype('int64')

In [108]:
##check to make sure variables are in correct format
x2_test.dtypes

LATITUDE     float64
LONGITUDE    float64
dtype: object

In [109]:
x2_test.count()

LATITUDE     90259
LONGITUDE    90259
dtype: int64

In [143]:
##create random forest regressor
reg = RandomForestRegressor(n_jobs=-1, min_samples_leaf=2, max_depth=5, n_estimators=2000)

In [144]:
##fit the random forest regressor to train data
reg.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=5,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=2,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=2000, n_jobs=-1, oob_score=False,
           random_state=None, verbose=0, warm_start=False)

In [145]:
reg.score(x_train,y_train)

0.74362605894836065

In [146]:
reg.score(x_test,y_test)

0.62559499181225364

In [147]:
##interpolate RF predictor from HHI data and apply to Lat/Long of RLC data
interpole = reg.predict(x2_test)

In [148]:
##convert result of interpolation (array) into a data frame
pd.DataFrame({'PREDICTED_INCOME':interpole.tolist()})
interp=pd.DataFrame({'PREDICTED_INCOME':interpole.tolist()})
interp

       PREDICTED_INCOME
0          41703.889035
1          41703.889035
2          41703.889035
3          78450.074338
4          78450.074338
5          78450.074338
6          78450.074338
7          78450.074338
8          41703.889035
9          78450.074338
10         78450.074338
11         41703.889035
12         32631.133218
13         78450.074338
14         78450.074338
15         57189.973576
16         78450.074338
17         78450.074338
18         78450.074338
19         32631.133218
20         78450.074338
21         78450.074338
22         78450.074338
23         78450.074338
24         78450.074338
25         78450.074338
26         32631.133218
27         32631.133218
28         78450.074338
29         32631.133218
...                 ...
90229      54383.936674
90230      45000.122640
90231      65268.086961
90232      42223.263538
90233      54383.936674
90234      42223.263538
90235      38412.636681
90236      48367.109963
90237      32018.470330
90238      34042.418011
90239      50491.753512
90240      54383.936674
90241      37813.043651
90242      32141.355578
90243      55386.078755
90244      34991.153351
90245      54383.936674
90246      38412.636681
90247      34042.418011
90248      53428.807452
90249      45000.122640
90250      97657.298066
90251      45000.122640
90252      55386.078755
90253      34042.418011
90254      45000.122640
90255      65268.086961
90256      38412.636681
90257      54383.936674
90258      54675.699023

[90259 rows x 1 columns]

In [171]:
##convert interp df into values due to merge/join issues
interp.values

array([[ 41703.88903473],
       [ 41703.88903473],
       [ 41703.88903473],
       ...,
       [ 38412.63668061],
       [ 54383.9366736 ],
       [ 54675.69902301]])

In [172]:
interp.count()

PREDICTED_INCOME    90259
dtype: int64

In [173]:
df.count()

INTERSECTION        90259
CAMERA ID           90259
ADDRESS             90259
VIOLATION DATE      90259
VIOLATIONS          90259
X COORDINATE        90259
Y COORDINATE        90259
LATITUDE            90259
LONGITUDE           90259
LOCATION            90259
is_train            90259
PREDICTED_INCOME    90259
dtype: int64

In [175]:
##adding interpolated "predicted income" into RLC data set as column 'PREDICTED_INCOME'
df['PREDICTED_INCOME'] = interp.values

In [176]:
df.describe()

,CAMERA ID,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,PREDICTED_INCOME
count,90259.000000,90259.000000,9.025900e+04,9.025900e+04,90259.000000,90259.000000,90259.000000
mean,1855.270211,5.017350,1.157746e+06,1.898416e+06,41.876996,-87.696299,49229.252376
std,492.851000,5.889828,1.406856e+04,3.096435e+04,0.085115,0.051228,19341.326525
min,1002.000000,1.000000,1.125717e+06,1.825911e+06,41.677721,-87.812781,26176.172694
25%,1434.000000,2.000000,1.147407e+06,1.869738e+06,41.798558,-87.734506,33856.524461
50%,1844.000000,3.000000,1.158976e+06,1.907723e+06,41.902714,-87.690394,43025.747651
75%,2302.000000,6.000000,1.167202e+06,1.921821e+06,41.940909,-87.662294,55386.078755
max,2751.000000,108.000000,1.191188e+06,1.947754e+06,42.012371,-87.575293,102709.104312

In [177]:
df.tail()

,INTERSECTION,CAMERA ID,ADDRESS,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION,is_train,PREDICTED_INCOME
96083,PULASKI AND FULLERTON,1484.0,4000 W FULLERTON AVE,5/3/2015,1,1149303.082,1915695.275,41.924593,-87.726819,"(41.92459302175305, -87.7268192684032)",False,45000.122640
96084,LAWRENCE AND WESTERN,1192.0,4800 N WESTERN AVENUE,1/29/2015,1,1159459.622,1931821.343,41.968641,-87.689054,"(41.96864072747715, -87.6890542408374)",False,65268.086961
96085,PULASKI AND 79TH,2494.0,4000 W 79TH STREET,11/20/2015,1,1151074.116,1851966.830,41.749679,-87.721978,"(41.74967935883473, -87.72197834524168)",False,38412.636681
96086,ADDISON AND HARLEM,1593.0,7200 W ADDISON,1/29/2015,1,1127417.488,1923123.408,41.945373,-87.807070,"(41.94537335809189, -87.80707032561135)",False,54383.936674
96087,LAWRENCE AND CICERO,1041.0,4800 N CICERO AVE,11/24/2015,1,1143464.652,1931490.552,41.968048,-87.747876,"(41.968048007293845, -87.74787598468126)",False,54675.699023

In [178]:
df

,INTERSECTION,CAMERA ID,ADDRESS,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION,is_train,PREDICTED_INCOME
0,CICERO AND I55,2251.0,4200 S CICERO AVENUE,11/29/2015,108,1145023.743,1876358.277,41.816729,-87.743537,"(41.81672938674739, -87.74353671247594)",False,41703.889035
1,CICERO AND I55,2251.0,4200 S CICERO AVENUE,11/28/2015,100,1145023.743,1876358.277,41.816729,-87.743537,"(41.81672938674739, -87.74353671247594)",False,41703.889035
2,CICERO AND I55,2251.0,4200 S CICERO AVENUE,12/1/2015,86,1145023.743,1876358.277,41.816729,-87.743537,"(41.81672938674739, -87.74353671247594)",False,41703.889035
3,LAKE SHORE DR AND BELMONT,1413.0,400 W BELMONT AVE,4/18/2015,82,1172981.745,1921577.376,41.940241,-87.639639,"(41.94024119325571, -87.63963911427594)",False,78450.074338
4,LAKE SHORE DR AND BELMONT,1413.0,400 W BELMONT AVE,7/11/2015,81,1172981.745,1921577.376,41.940241,-87.639639,"(41.94024119325571, -87.63963911427594)",False,78450.074338
5,LAKE SHORE DR AND BELMONT,1413.0,400 W BELMONT AVE,3/28/2015,80,1172981.745,1921577.376,41.940241,-87.639639,"(41.94024119325571, -87.63963911427594)",False,78450.074338
6,LAKE SHORE DR AND BELMONT,1413.0,400 W BELMONT AVE,8/7/2015,80,1172981.745,1921577.376,41.940241,-87.639639,"(41.94024119325571, -87.63963911427594)",False,78450.074338
7,LAKE SHORE DR AND BELMONT,1413.0,400 W BELMONT AVE,6/13/2015,79,1172981.745,1921577.376,41.940241,-87.639639,"(41.94024119325571, -87.63963911427594)",False,78450.074338
8,CICERO AND I55,2251.0,4200 S CICERO AVENUE,12/13/2015,79,1145023.743,1876358.277,41.816729,-87.743537,"(41.81672938674739, -87.74353671247594)",False,41703.889035
9,LAKE SHORE DR AND BELMONT,1413.0,400 W BELMONT AVE,8/29/2015,78,1172981.745,1921577.376,41.940241,-87.639639,"(41.94024119325571, -87.63963911427594)",False,78450.074338
10,LAKE SHORE DR AND BELMONT,1413.0,400 W BELMONT AVE,5/3/2015,77,1172981.745,1921577.376,41.940241,-87.639639,"(41.94024119325571, -87.63963911427594)",False,78450.074338
11,CICERO AND I55,2251.0,4200 S CICERO AVENUE,12/3/2015,77,1145023.743,1876358.277,41.816729,-87.743537,"(41.81672938674739, -87.74353671247594)",False,41703.889035
12,VAN BUREN AND WESTERN,2052.0,400 S WESTERN AVENUE,7/18/2015,76,1160431.682,1898091.942,41.876065,-87.686416,"(41.87606477642526, -87.68641563098768)",False,32631.133218
13,LAKE SHORE DR AND BELMONT,1413.0,400 W BELMONT AVE,8/8/2015,76,1172981.745,1921577.376,41.940241,-87.639639,"(41.94024119325571, -87.63963911427594)",False,78450.074338
14,LAKE SHORE DR AND BELMONT,1413.0,400 W BELMONT AVE,2/14/2015,75,1172981.745,1921577.376,41.940241,-87.639639,"(41.94024119325571, -87.63963911427594)",False,78450.074338
15,CALIFORNIA AND DIVERSEY,1514.0,2800 W DIVERSEY,5/16/2015,75,1157212.543,1918526.674,41.932205,-87.697679,"(41.93220539506452, -87.6976792438691)",False,57189.973576
16,LAKE SHORE DR AND BELMONT,1413.0,400 W BELMONT AVE,5/30/2015,75,1172981.745,1921577.376,41.940241,-87.639639,"(41.94024119325571, -87.63963911427594)",False,78450.074338
17,LAKE SHORE DR AND BELMONT,1413.0,400 W BELMONT AVE,6/27/2015,75,1172981.745,1921577.376,41.940241,-87.639639,"(41.94024119325571, -87.63963911427594)",False,78450.074338
18,LAKE SHORE DR AND BELMONT,1413.0,400 W BELMONT AVE,7/18/2015,75,1172981.745,1921577.376,41.940241,-87.639639,"(41.94024119325571, -87.63963911427594)",False,78450.074338
19,VAN BUREN AND WESTERN,2052.0,400 S WESTERN AVENUE,7/25/2015,75,1160431.682,1898091.942,41.876065,-87.686416,"(41.87606477642526, -87.68641563098768)",False,32631.133218
20,LAKE SHORE DR AND BELMONT,1413.0,400 W BELMONT AVE,4/19/2015,74,1172981.745,1921577.376,41.940241,-87.639639,"(41.94024119325571, -87.63963911427594)",False,78450.074338
21,LAKE SHORE DR AND BELMONT,1413.0,400 W BELMONT AVE,6/6/2015,73,1172981.745,1921577.376,41.940241,-87.639639,"(41.94024119325571, -87.63963911427594)",False,78450.074338
22,LAKE SHORE DR AND BELMONT,1413.0,400 W BELMONT AVE,4/17/2015,72,1172981.745,1921577.376,41.940241,-87.639639,"(41.94024119325571, -87.63963911427594)",False,78450.074338
23,LAKE SHORE DR AND BELMONT,1413.0,400 W BELMONT AVE,3/21/2015,71,1172981.745,1921577.376,41.940241,-87.639639,"(41.94024119325571, -87.63963911427594)",False,78450.074338
24,LAKE SHORE DR AND BELMONT,1413.0,400 W BELMONT AVE,5/16/2015,71,1172981.745,1921577.376,41.940241,-87.639639,"(41.94024119325571, -87.63963911427594)",False,78450.074338
25,LAKE SHORE DR AND BELMONT,1413.0,400 W BELMONT AVE,2/28/2015,70,1172981.745,1921577.376,41.940241,-87.639639,"(41.94024119325571, -87.63963911427594)",False,78450.074338
26,VAN BUREN AND WESTERN,2052.0,400 S WESTERN AVENUE,3/14/2015,70,1160431.682,1898091.942,41.876065,-87.686416,"(41.87606477642526, -87.68641563098768)",False,32631.133218
27,VAN BUREN AND WESTERN,2052.0,400 S WESTERN AVENUE,7/26/2015,70,1160431.682,1898091.942,41.876065,-87.686416,"(41.87606477642526, -87.68641563098768)",False,32631.133218
28,LAKE SHORE DR AND BELMONT,1413.0,400 W BELMONT AVE,9/19/2015,70,1172981.745,1921577.376,41.940241,-87.639639,"(41.94024119325571, -87.63963911427594)",False,78450.074338
29,VAN BUREN AND WESTERN,2052.0,400 S WESTERN AVENUE,3/15/2015,69,1160431.682,1898091.942,41.876065,-87.686416,"(41.87606477642526, -87.68641563098768)",False,32631.133218
...,...,...,...,...,...,...,...,...,...,...,...,...
96058,ADDISON AND HARLEM,1593.0,7200 W ADDISON,12/4/2015,1,1127417.488,1923123.408,41.945373,-87.807070,"(41.94537335809189, -87.80707032561135)",False,54383.936674
96059,PULASKI AND FULLERTON,1481.0,2400 N PULASKI RD,2/13/2015,1,1149275.964,1915687.632,41.924573,-87.726919,"(41.92457257416937, -87.72691911144182)",False,45000.122640
96060,LAWRENCE AND WESTERN,1192.0,4800 N WESTERN AVENUE,10/13/2015,1,1159459.622,1931821.343,41.968641,-87.689054,"(41.96864072747715, -87.6890542408374)",False,65268.086961
96061,RIDGE AND CLARK,1052.0,5930 N CLARK STREET,1/14/2015,1,1164554.785,1939388.512,41.989299,-87.670104,"(41.98929863013193, -87.67010412112992)",False,42223.263538
96062,ADDISON AND HARLEM,1593.0,7200 W ADDISON,1/27/2015,1,1127417.488,1923123.408,41.945373,-87.807070,"(41.94537335809189, -87.80707032561135)",False,54383.936674
96063,RIDGE AND CLARK,1052.0,5930 N CLARK STREET,6/14/2015,1,1164554.785,1939388.512,41.989299,-87.670104,"(41.98929863013193, -87.67010412112992)",False,42223.263538
96064,PULASKI AND 79TH,2492.0,7900 S PULASKI ROAD,5/25/2015,1,1151054.874,1851842.664,41.749339,-87.722052,"(41.74933900008238, -87.72205209091501)",False,38412.636681
96065,GRAND AND OAK PARK,1523.0,6800 W GRAND AVENUE,3/1/2015,1,1130668.895,1915248.469,41.923708,-87.795301,"(41.92370819286044, -87.79530078123082)",False,48367.109963
96066,WESTERN AND 63RD,2371.0,6300 S WESTERN AVE,6/25/2015,1,1161415.713,1862772.389,41.779123,-87.683783,"(41.77912348383963, -87.68378309863576)",False,32018.470330
96067,MADISON AND WESTERN,1934.0,2400 W MADISON,9/29/2015,1,1160384.621,1899988.656,41.881270,-87.686536,"(41.88127050428818, -87.68653594017124)",False,34042.418011
96068,PULASKI AND BELMONT,1383.0,4000 W BELMONT AVE,11/5/2015,1,1149131.867,1921018.505,41.939204,-87.727310,"(41.93920374986553, -87.72731013414392)",False,50491.753512
96069,ADDISON AND HARLEM,1593.0,7200 W ADDISON,10/21/2015,1,1127417.488,1923123.408,41.945373,-87.807070,"(41.94537335809189, -87.80707032561135)",False,54383.936674
96070,SACRAMENTO AND CHICAGO,1812.0,800 N SACRAMENTO AVEN,2/1/2015,1,1156039.008,1905193.084,41.895641,-87.702352,"(41.89564071387542, -87.70235232767416)",False,37813.043651
96071,WESTERN AND MARQUETTE,2674.0,2400 W MARQUETTE ROAD,9/17/2015,1,1161509.889,1860208.627,41.772086,-87.683509,"(41.772086214104526, -87.68350885781568)",False,32141.355578
96072,AUSTIN AND IRVING PARK,1163.0,6000 W IRVING PARK ROAD,1/6/2015,1,1135622.403,1926014.192,41.953164,-87.776843,"(41.95316377185154, -87.77684259284736)",False,55386.078755
96073,79TH AND KEDZIE,2442.0,7900 S KEDZIE AVE,11/25/2015,1,1156378.397,1852021.375,41.749724,-87.702540,"(41.749723971726056, -87.70253957167394)",False,34991.153351
96074,ADDISON AND HARLEM,1593.0,7200 W ADDISON,1/4/2015,1,1127417.488,1923123.408,41.945373,-87.807070,"(41.94537335809189, -87.80707032561135)",False,54383.936674
96075,PULASKI AND 79TH,2492.0,7900 S PULASKI ROAD,3/25/2015,1,1151054.874,1851842.664,41.749339,-87.722052,"(41.74933900008238, -87.72205209091501)",False,38412.636681
96076,MADISON AND WESTERN,1934.0,2400 W MADISON,4/8/2015,1,1160384.621,1899988.656,41.881270,-87.686536,"(41.88127050428818, -87.68653594017124)",False,34042.418011
96077,PETERSON AND WESTERN,1011.0,6000 N WESTERN AVE,11/19/2015,1,1159190.625,1939816.755,41.990586,-87.689822,"(41.99058604241958, -87.68982247294417)",False,53428.807452
96078,PULASKI AND FULLERTON,1484.0,4000 W FULLERTON AVE,1/26/2015,1,1149303.082,1915695.275,41.924593,-87.726819,"(41.92459302175305, -87.7268192684032)",False,45000.122640
96079,ASHLAND AND DIVISION,1793.0,1600 W DIVISION STREET,12/4/2015,1,1165489.684,1908112.313,41.903455,-87.667559,"(41.903455316483814, -87.66755899396976)",False,97657.298066
96080,PULASKI AND FULLERTON,1481.0,2400 N PULASKI RD,9/19/2015,1,1149275.964,1915687.632,41.924573,-87.726919,"(41.92457257416937, -87.72691911144182)",False,45000.122640
96081,AUSTIN AND IRVING PARK,1163.0,6000 W IRVING PARK ROAD,6/7/2015,1,1135622.403,1926014.192,41.953164,-87.776843,"(41.95316377185154, -87.77684259284736)",False,55386.078755
96082,MADISON AND WESTERN,1934.0,2400 W MADISON,1/29/2015,1,1160384.621,1899988.656,41.881270,-87.686536,"(41.88127050428818, -87.68653594017124)",False,34042.418011
96083,PULASKI AND FULLERTON,1484.0,4000 W FULLERTON AVE,5/3/2015,1,1149303.082,1915695.275,41.924593,-87.726819,"(41.92459302175305, -87.7268192684032)",False,45000.122640
96084,LAWRENCE AND WESTERN,1192.0,4800 N WESTERN AVENUE,1/29/2015,1,1159459.622,1931821.343,41.968641,-87.689054,"(41.96864072747715, -87.6890542408374)",False,65268.086961
96085,PULASKI AND 79TH,2494.0,4000 W 79TH STREET,11/20/2015,1,1151074.116,1851966.830,41.749679,-87.721978,"(41.74967935883473, -87.72197834524168)",False,38412.636681
96086,ADDISON AND HARLEM,1593.0,7200 W ADDISON,1/29/2015,1,1127417.488,1923123.408,41.945373,-87.807070,"(41.94537335809189, -87.80707032561135)",False,54383.936674
96087,LAWRENCE AND CICERO,1041.0,4800 N CICERO AVE,11/24/2015,1,1143464.652,1931490.552,41.968048,-87.747876,"(41.968048007293845, -87.74787598468126)",False,54675.699023

In [155]:
CHI_COORDINATES = (41.8781, -87.6298)
m = folium.Map(CHI_COORDINATES, zoom_start=11)
m

In [ ]:
##plotting camera location on map
for index, row in df.iterrows():
    folium.CircleMarker([row['LATITUDE'], row['LONGITUDE']],
                        radius=15,
                        popup=row['ADDRESS'],
                        fill_color="#3db7e4",
                       ).add_to(m)

In [ ]:
cameraArray = df[['LATITUDE', 'LONGITUDE']].as_matrix()
# plot heatmap
m.add_children(plugins.HeatMap(cameraArray, radius=15))
m